<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\User[]|\Cake\Collection\CollectionInterface $users
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?=__('Ações')?></li>
        <li><?=$this->Html->link(__('Cadastrar Usuarios'), ['action' => 'add'])?></li>
        <li><?=$this->Html->link(__('Relação de usuarios com livros'), ['controller' => 'UsersBooks', 'action' => 'index'])?></li>
        <li><?=$this->Html->link(__('Cadastrar Livros'), ['controller' => 'Books', 'action' => 'index'])?></li>
    </ul>
</nav>
<div class="users index large-9 medium-8 columns content">
    <h3><?=__('Users')?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?=$this->Paginator->sort('id')?></th>
                <th scope="col"><?=$this->Paginator->sort('name')?></th>
                <th scope="col"><?=$this->Paginator->sort('username')?></th>
                <th scope="col"><?=$this->Paginator->sort('password')?></th>
                <th scope="col"><?=$this->Paginator->sort('created')?></th>
                <th scope="col"><?=$this->Paginator->sort('modified')?></th>
                <th scope="col" class="actions"><?=__('Ações')?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($users as $user): ?>
            <tr>
                <td><?=$this->Number->format($user->id)?></td>
                <td><?=h($user->name)?></td>
                <td><?=h($user->username)?></td>
                <td><?=h($user->password)?></td>
                <td><?=h($user->created)?></td>
                <td><?=h($user->modified)?></td>
                <td class="actions">
                    <?=$this->Html->link(__('Ver'), ['action' => 'view', $user->id])?>
                    <?=$this->Html->link(__('Editar'), ['action' => 'edit', $user->id])?>
                    <?=$this->Form->postLink(__('Deletar'), ['action' => 'delete', $user->id], ['confirm' => __('Are you sure you want to delete # {0}?', $user->id)])?>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?=$this->Paginator->first('<< ' . __('first'))?>
            <?=$this->Paginator->prev('< ' . __('previous'))?>
            <?=$this->Paginator->numbers()?>
            <?=$this->Paginator->next(__('next') . ' >')?>
            <?=$this->Paginator->last(__('last') . ' >>')?>
        </ul>
        <p><?=$this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')])?></p>
    </div>
</div>
