<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Book[]|\Cake\Collection\CollectionInterface $books
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?=__('Ações    ')?></li>
        <li><?=$this->Html->link(__('Cadastrar Livro'), ['action' => 'add'])?></li>
        <li><?=$this->Html->link(__('Relação de usuarios com livros'), ['controller' => 'UsersBooks', 'action' => 'index'])?></li>

    </ul>
</nav>
<div class="books index large-9 medium-8 columns content">
    <h3><?=__('Livros')?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?=$this->Paginator->sort('id')?></th>
                <th scope="col"><?=$this->Paginator->sort('name')?></th>
                <th scope="col" class="actions"><?=__('Actions')?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($books as $book): ?>
            <tr>
                <td><?=$this->Number->format($book->id)?></td>
                <td><?=h($book->name)?></td>
                <td class="actions">
                    <?=$this->Html->link(__('View'), ['action' => 'view', $book->id])?>
                    <?=$this->Html->link(__('Edit'), ['action' => 'edit', $book->id])?>
                    <?=$this->Form->postLink(__('Delete'), ['action' => 'delete', $book->id], ['confirm' => __('Are you sure you want to delete # {0}?', $book->id)])?>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?=$this->Paginator->first('<< ' . __('first'))?>
            <?=$this->Paginator->prev('< ' . __('previous'))?>
            <?=$this->Paginator->numbers()?>
            <?=$this->Paginator->next(__('next') . ' >')?>
            <?=$this->Paginator->last(__('last') . ' >>')?>
        </ul>
        <p><?=$this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')])?></p>
    </div>
</div>
